!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    title= name
    link(rel="stylesheet" href="/assets/bootstrap.css")
  body
    .container-fluid
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item.font-weight-bold
            a(href="/")= name
          - for (e <- breadcrumbs)
            li.breadcrumb-item
              a(href= {e.href})= {e.text}
      - if (entries.isEmpty)
        .jumbotron This folder is empty
      - else
        table.table
          thead
            tr
              th(scope="col") Name
              th(scope="col") Size
              th(scope="col") Last Modified
          tbody
            - for (e <- entries)
              tr
                - e match
                  - case d@Directory(_, name) =>
                    td
                      a(href= {d.href})= name
                    td
                    td
                  - case f@File(path, name, size, lastModified) =>
                    td
                      a(href= {f.href})= name
                    td= size
                    td= lastModified

    script(src="/assets/jquery.js")
    script(src="/assets/popper.js")
    script(src="/assets/bootstrap.js")
